body{
    margin: 10vh 25vw;
    display: flex;
    flex-direction: row;
}
h2{
    margin: 10px 0;
}

#form-container {
    width: 300px;
    padding: 20px;
    background-color: darkgrey;
}
#save-button{
    width: 100%;
    background-color: seagreen;
    padding: 5px;
    border: none;
}
#list-container {

    width: 200px;
    padding: 20px;
}

#travel-list {
    list-style: none;
    padding: 0;
    width: 350px;

}

#travel-list li {
    display: inline-block;
    margin-bottom: 10px;
    background-color: seagreen;
    font-size: 14px;
    font-weight: 100;
}
#travel-list li b{
    font-size: 28px;
    font-weight: 500;
}

#travel-list li .delete-btn {
    margin-left: auto;
    cursor: pointer;
}